input[type=text] {
    width: 75%;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
}

input[type=password] {
    width: 75%;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
}

div.headingTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: #f6f6f6 4px 4px;
}

.resultsTable {
    padding:2px 2px;
    /*background:#ccc;*/
    border:0 none;
    /*cursor:pointer;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;

}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #207cca;
    color: white;
}

form {
    width: 65%;
    margin: 50px auto;
    padding-left: 9%;
}

input[type=text] {
    padding: 16px 30px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
}

input[type=password] {
    padding: 16px 30px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
}

input[type=submit] {
    position: relative;
    padding: 14px 30px;
    left: 2px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}

div.styledSearch {
    justify-content: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 7px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

footer {
    color: white;
    background-color: #207cca;
    text-align: center;
}

div.resultsTable table, p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;

}

div.savedTable table {
    width: 70%;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

div.savedTable p {
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
}

div.aboutParagraph p {
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

html,
body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */

    margin-bottom: -22px;
}
.footer,
.push {
    height: 22px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 3px;
}

#printedTable input[type=submit] {
  color:blue
  position: relative;
  padding: 0px 0px;
  left: 0px;
  border: 6px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 0%;
  margin:0 auto;
  display:block;
}

#printedTable input[value="Remove"] {
  color:blue
  position: relative;
  padding: 0px 0px;
  left: 0px;
  border: 6px solid #a5101f;
  background-color: #a5101f;
  color: #fafafa;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 0%;
  text-align: center;

}

#printedTable form {
  width: 100%;
  padding-left: 0%;
  margin: 0px auto;
}

#logout input[value="Logout!"] {
  color:blue
  position: relative;
  padding: 0px 0px;
  left: -100px;
  border: 10px solid #a5101f;
  background-color: #a5101f;
  color: #fafafa;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 0%;
  text-align: center;
  margin:0 auto;
  display:block;
}

#block {
  position: absolute;
  top: 10%;
  left: 10%;
  display: none;
}
#block2 {
  position: absolute;
  top: 20%;
  left: 45%;
  display: none;
}
#block3 {
  position: absolute;
  top: 50%;
  left: 35%;
  display: none;
}
#block4 {
  position: absolute;
  top: 60%;
  left: 15%;
  display: none;
}
#block5 {
  position: absolute;
  top: 50%;
  left: 65%;
  display: none;
}

.errorMessage {
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  padding:12px;
  color: #D8000C;
  background-color: #FFBABA;
}

.infoMessage {
  align-items: center;
  justify-content: center;
  width: 35%;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  padding:12px;
  color: #00529B;
  background-color: #BDE5F8;
}

a.active-page
{
  background-color: #207cca;
  color: white;
}



/*.cd-user-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
}*/
